$cream: #FFFDF8;
$app-green: #D7FAD7;
$primary-purple: #B8A4FD;
$light-purple: #E2DBFB;
$app-blue: #BDDEFD;
$app-black: #222;

$app-border: 2px solid $app-black;
$box-shadow: 5px 5px 0px 0px rgb(34 34 34);