@import '../../../theme/vars.scss';

.third-section {
    padding: 50px 0;
    border-bottom: $app-border;
    background: $cream;
}

.flex {
    display: flex;
    align-items: center;
    gap: 50px;
    .column {
        width: 100%;
        max-width: 50%;
    }
}

.img-holder {
    width: 350px;
    margin: 0 auto;
    svg {
        width: 100%;
        height: auto;
        transform: scale(-1, 1);
    }
}